
<div class="container"> <!-- start -->
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div data-aos="fade-up-right" class="p-5" id="heatAnchor">
        <img class="img-fluid round-corners main-pic" src="static/pic/heatDemo-c.png" alt="heat-demo control page" id="heatImg">
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div data-aos="fade-up-left" data-aos-anchor="#heatAnchor" class="p-5">
        <h2 class="display-4 header-title">Remote Home Control</h2>
        <p>Run mostly on raspberry pi's (connected to ardino's for motor control) the site allows for control of my heating, lights and fans from anywhere.</p>
        <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="heatMoreBtn" type="button" value="heat">More</button>
        <button class="btn proj-btn main-btn" id="HeatDemoBtn" type="button">Example</button>
      </div>
    </div>
  </div>
</div>
<div class="container">  <!-- start -->
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div data-aos="fade-up-left" class="p-5" id="othAnchor">
        <img class="img-fluid round-corners main-pic" src="static/pic/othello-c.png" alt="Othello.js" id="othImg">
      </div>
    </div>
    <div class="col-lg-6">
      <div data-aos="fade-up-right" data-aos-anchor="#othAnchor" class="p-5">
        <h2 class="display-4 header-title">Othello.js</h2>
        <p>For my A-level Computer Science coursework I made a minimalist web-based version of othello in JavaScript. It features a simple, yet surprisingly effective, AI to play against.</p>
        <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="othMoreBtn" type="button" value="oth">More</button>
        <button class="btn proj-btn main-btn" id="othBtn" type="button">Example</button>
      </div>
    </div>
  </div>
</div>
<div class="container">  <!-- start -->
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div data-aos="fade-up-right" class="p-5" id="christmasCardAnchor">
        <img class="img-fluid round-corners main-pic" src="static/pic/ChristmasCard-c.png" alt="Virtual christmas cards" id="christmasCardImg">
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div data-aos="fade-up-left" data-aos-anchor="#christmasCardAnchor" class="p-5">
        <h2 class="display-4 header-title">Virtual Christmas Cards</h2>
        <p>Rather than write lots of cards by hand, simply add the recipients name to the end of the url and click send, if you particularly like said person a personal message can be added.</p>
        <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="christmasCardMoreBtn" type="button" value="christmasCard">More</button>     
        <button class="btn proj-btn main-btn" id="christmasCardBtn" type="button">Example</button>  
      </div>
    </div>
  </div>
</div>
<div id="scrollMarker" style="visibility: hidden;"></div>
<div id="hiddenTable" class="dis-none">  <!-- heloooooo -->
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="thisSiteAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/thisSite-c.png" alt="Text based OOP python game" id="thisSiteImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#thisSiteAnchor" class="p-5">
          <h2 class="display-4 header-title">This Website Itself</h2>
          <p>One of my most recent projects was building this website. It's fully bootsrtapped, built from the ground up and hosted on my ubuntu server at home.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="thisSiteMoreBtn" type="button" value="thisSite">More</button>           
          <div class="tooltip" style="text-align: center !important; z-index: 0;">
            <button class="btn proj-btn main-btn" id="thisSiteBtn" type="button">Example</button>
            <span class="tooltiptext" id="thisSiteTooltip" style="margin-left: -76px; width: 155px;">Your looking at it :)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="pyGameAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/OOP_game-c.png" alt="Text based OOP python game" id="pyGameImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#pyGameAnchor" class="p-5">
          <h2 class="display-4 header-title">Text Based Python Game</h2>
          <p>A short Lord Of The Rings themed OOP python game made by myself and a friend.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="pyGameMoreBtn" type="button" value="pyGame">More</button>
          <button class="btn proj-btn main-btn" id="pyGameBtn" type="button">Example</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="plantWatererAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Plant waterer watering plants" id="plantWatererImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#plantWatererAnchor" class="p-5">
          <h2 class="display-4 header-title">Automated Plant Waterer</h2>
          <p>I wasnt always around to water my plant, why not have an arduino do it for me.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="plantWatererMoreBtn" type="button" value="plantWaterer">More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container"> <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="blAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Montiroing system display page" id="blImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#blAnchor" class="p-5">
          <h2 class="display-4 header-title">Building Status Report System</h2>
          <p>Back in 2017 I made a web based system where workers of the Sky office in london could report the status of certain items in the building so that the maintenance workers had an easier time locating and fixing the issues.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="blMoreBtn" type="button" value="bl">More</button>
          <!-- <button class="btn proj-btn main-btn" id="blDemoBtn" type="button">Example</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="unityAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Unity games" id="unityImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#unityAnchor" class="p-5">
          <h2 class="display-4 header-title">Android And IOS Games/Apps</h2>
          <p>Initially, I developed a few phone games on the Unity engine and am also in the process of making a few android apps through android studio.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="unityMoreBtn" type="button" value="unity">More</button>
          <!-- <button class="btn proj-btn main-btn" id="unityBtn" type="button">Example</button> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="instaBotAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Instagram bot in action" id="instaBotImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#instaBotAnchor" class="p-5">
          <h2 class="display-4 header-title">Instagram Bot</h2>
          <p>Adapted version of Tim Grossmann's InstaPy to like my friends posts without me having to spend too long on social media. Also sends messages to my Telegram to inform me of it's activities</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="instaBotMoreBtn" type="button" value="instaBot">More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="rfidDoorAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="RFID door lock securing my room" id="rfidDoorImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#rfidDoorAnchor" class="p-5">
          <h2 class="display-4 header-title">RFID Door Lock</h2>
          <p>i always thought contactless cards were cool, so i made one to secure my room from... urm... invasion?</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="rfidDoorMoreBtn" type="button" value="rfidDoor">More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="rcCarAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Autonomous RC car navigating (or should i say crashing into) the terrain" id="rcCarImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#rcCarAnchor" class="p-5">
          <h2 class="display-4 header-title">Autonomous RC Car</h2>
          <p>I heard google was making one so i thought i should have a go too.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="rcCarMoreBtn" type="button" value="rcCar">More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container"> <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="raspiAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/raspiDesktop-c.png" alt="One of the server PI's delivering this website to you" id="raspiImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#raspiAnchor" class="p-5">
          <h2 class="display-4 header-title">Linux Interest</h2>  <!-- Raspberry Pi Obsession -->
          <p>I grew up on Ubuntu and have been using linux (especially the CLI) for projects ever since. The webserver that hosts this site runs ubuntu and has also been setup as a SAMBA media server. Of course, all of my raspberryPi's run it too.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="raspiMoreBtn" type="button" value="raspi">More</button>
          <!-- <button class="btn proj-btn main-btn" id="blDemoBtn" type="button">Example</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="enrichmentAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="Plant waterer watering plants" id="enrichmentImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#enrichmentAnchor" class="p-5">
          <h2 class="display-4 header-title">Various Clubs and Enrichments</h2>
          <p>I take part in multiple tech based clubs at school; For example I ran a raspberry pi club with my computer science teacher which a fair few GCSE students regularly attended.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="plantWatererMoreBtn" type="button" value="enrichment">More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-up-left" class="p-5" id="networkAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="a network?" id="networkImg">
        </div>
      </div>
      <div class="col-lg-6">
        <div data-aos="fade-up-right" data-aos-anchor="#networkAnchor" class="p-5">
          <h2 class="display-4 header-title">Basic Networking</h2>
          <p>I've picked up a bit here and there, particulary from having to configure my web servers along with linux media servers.</p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="networkMoreBtn" type="button" value="network">More</button>
          <!-- <button class="btn proj-btn main-btn" id="christmasCardBtn" type="button">Example</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">  <!-- start -->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div data-aos="fade-up-right" class="p-5" id="subMentAnchor">
          <img class="img-fluid round-corners main-pic" src="static/pic/tempImg-c.png" alt="RFID door lock securing my room" id="subMentImg">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div data-aos="fade-up-left" data-aos-anchor="#subMentAnchor" class="p-5">
          <h2 class="display-4 header-title">another one</h2>
          <p></p>
          <button class="btn proj-btn main-btn btn-no-scroll more-btn" id="rfidDoorMoreBtn" type="button" value="subMent">More</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  -->
