:root {
  --main-red: #e40d1b; /* e40d1b */
  --main-purple: #6a0fe0; /* 7e3ad8 */
  --main-blue: #007bff; /* 007bff */
  --main-green: #00a700; /* 00ff00 */
  --main-pink: #ff00ff; /* ff00ff */
  --main-grey: #222222; /* 222222 */
  --text-grey: #111111; /* 111111 */
  --main-gradient: -webkit-gradient(linear, right top, left top, 
                                    from(var(--main-purple)), to(#e40d1b));
  --backup-gradient: linear-gradient(to left, var(--main-purple), 
                                      var(--main-red)); /* df1e2b ; 6f00ff, 7b4397 */
}

::selection {
  background: rgb(180, 44, 130); /* highlight colour */
}
::-moz-selection {
  background: rgb(180, 44, 130); /* highlight colour */
}

html {
  background-color: var(--main-grey);
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial,Helvetica,sans-serif; 
  font-weight: 600;
  background-color: #00000000;
  padding: 0 5%;
}
body.noScroll {
  overflow: hidden;
}

p > a {
  color: #ff0000;
  -webkit-transition: all .4s;
  transition: all .4s;
}
p > a:hover, p > a:focus {
  color: #6f00ff !important;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial,Helvetica,sans-serif; 
  font-weight: 200;
  /* letter-spacing: 1px; */
  display: inline-block;
  color: var(--main-grey);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--main-grey);
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--main-grey);
}
footer p {
  font-size: 12px;
  margin: 0;
}

header {
  position: fixed;
  width: 120%;
  height: 100vh;
  top: 0;
  left: -10%;
  z-index: -1;
  color: white;
  background: rgb(24, 24, 24);
  text-align: center;
  /* background:  var(--backup-gradient);
  background:  var(--main-gradient); */
}

header > span {
  font-family: monospace;
  /* font-size: 2vw; */
  font-size: 30px;
}

section {
  padding: 40px 50px;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto 40px auto;
}
section h2 {
  font-size: 3rem;
}

#sectionContainer {
  padding: 0 20px;
  min-height: 100vh;
}

.mainHead {
  font-weight: 700;
  font-size: 130px;
  margin: auto 35px 0 -5px;
}

.secHead {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}

.mainQuote {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 500;
}

.spacer {
  display: block; 
  height: 15px;
}

.container {
  max-width: 1000px;
}

#main1, #main2, #main3, #main4 {
  position: relative;
}
#main1 {
  animation: 1s slide-down ease-in-out;
}
#main2 {
  animation: 1s slide-left ease-in-out;
}
#main3 {
  animation: 1s slide-up ease-in-out;
} 
#main4 {
  animation: 1s slide-right ease-in-out;
}

@keyframes slide-down {
  from { top: -80vh; }
  to { top: 0; }
}
@keyframes slide-left {
  from { right: -80vw; }
  to { right: 0; }
}
@keyframes slide-up {
  from { bottom: -80vh; }
  to { bottom: 0; }
}
@keyframes slide-right {
  from { left: -80vw; }
  to { left: 0; }
} 

.hover span {
  color: white;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
                    to right,
                    red,
                    red 50%,
                    white 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.2s linear;
}
/* .hover span:hover,  */
.hover span.active {
  background-position: 0%;
}

#mainNav {
  background-color: rgba(34, 34, 34, 0.99);  /* var(--main-grey) */
  border-width: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
	font-family: Arial,Helvetica,sans-serif; 
  font-weight: 200;
  letter-spacing: 1px;
  will-change: transform;
  max-width: 1000px;
  margin: 5px auto;
  border-radius: 20px;
}
#mainNav .navbar-brand {
  color: #ffffff;
	font-family: Arial,Helvetica,sans-serif; 
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav, .navbar-brand:hover {
    color: #ff0000 !important;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #ffffff;
  border-color: #ffffff;
}
#mainNav .navbar-nav > li > a {
  font-size: 11px;
	font-family: Arial,Helvetica,sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li > a.active {
  color: #6f00ff !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #ffffff;
}
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #7700ff !important;
}
/* #mainNav .navbar-brand:hover {
  color: #ff0000;
} */
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #ffffff;
}
/* #mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: var(--main-grey);
} */
/* #mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.93);
  background-color: rgba(34, 34, 34, 0.93);
} */




.bg-primary {
  background: white !important;
  /* background: rgb(141, 141, 141) !important; */
}
.bg-secondary {
  background: var(--main-red) !important;
  /* background: rgb(141, 141, 141) !important; */
}
.bg-third {
  /* background: rgb(141, 141, 141) !important; */
  background: var(--main-purple) !important;
}
.bg-footer {
  background: var(--main-grey) !important;
}

.testPadding {
  padding: 600px 0px;
}



#contactTitle {
  margin-bottom: 50px; 
  /* color: white; */
  color: var(--main-grey)
}

#msgSubmit {
  visibility: hidden;
  transition: 0.3s;
}

.bolder {
  font-weight: 700 !important;
}

/* .bottom {

} */

.mainNav {
  font-size: 15px !important;
}

.main-btn {
  margin-right: 10px; 
  margin-bottom: 10px;
}

.text-primary {
  color: #000000;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #000000;
  background-color: #000000;
}

.btn {
  border-radius: 300px;
  padding: .5rem 1rem;
	font-family: Arial,Helvetica,sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
}

.proj-btn {
  background-color: var(--main-grey);
  color: white; 
  font-size: 20px; 
  font-weight: bold;
  transition: 0.2s ease;
}
.proj-btn:hover {
  background-color: white; 
  color: var(--main-grey); 
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.round-corners {
  border-radius: 30px !important;
}

.header-title {
  font-size: 35px;
  font-weight: 700
}

.dis-none {
  display: none;
}

.invis {
  visibility: hidden;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.form-control {
  background-color: var(--main-grey) !important;
  border: 1px solid var(--main-grey);
  color: white !important;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-clip: border-box;
  resize: none;
}

.boxCol {
  margin: 20px auto;
  /* background-color: #fff; */
  color: white !important;
  background-color: var(--main-grey);
  padding: 20px 30px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.fit-content {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
  .showSmall {
    display: none;
  }
  section.experience .device-container {
    margin-bottom: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ffffff;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #ff0000 !important;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #ff0000 !important;
  }
}
@media (max-width: 992px) {
  .hideSmall {
    display: none;
  }
}

/* @media (min-width: 768px) {
  section.about .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
  section.cta .cta-content h2 {
    font-size: 80px;
  }
} */

@media only screen and (max-width: 700px){
  .img-modal-content {
    padding-top: 50px;
    width: 100% !important; /* make modal content fit better on small screen */
  } 
  .sectionTitle {
    font-size: 4.7rem !important;
  }
}

.noHover{
  pointer-events: none;
}

.Mac-sec {
  padding-left: 3px !important;
}

.sectionTitle {
  font-size: 5rem; 
  font-weight: 750;
}

.sectionHead {
  font-size: 50px; 
  font-weight: 700;
}

/* hover main text */
#mainText {
  font-family: Arial var(--main-grey), Helvetica,sans-serif !important; 
  font-size: 100px;
  line-height: 1em;
}
#secText {
  /* margin-top: -15px;
  padding-left: 4px; */
	font-family: Arial,Helvetica,sans-serif; 
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 78px;
  line-height: 1em;
  /* text-align: center; */
  text-align: justify;
  position: relative;
  /* transform: translateY(-40%); */
}
  
span.arrow, span.titleSpans {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.3s all;
  background-clip: padding-box;
}
span.letter-2 {
  color: rgba(0, 0, 0, 1);
}
span.letter-1 {
  color: rgba(255, 255, 255, 1);
  z-index: 1;
} 
span.letter-1:hover {
  top: -8px;
  right: -8px;
}
span.letter-2:hover {
  top: 8px;
  right: 8px;
}
span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
} 
/* hover text end */

/* arrow bottom start */
.rot90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.round {
  width: 90px;
  height: 30px;
}

#cta {
  cursor: pointer; 
  position: absolute;
  margin: auto;
}

.arrow {
  /* position: absolute;  */
  /* bottom: 0;   */
  /* margin-left: 0px;  */
  width: 30px; 
  height: 30px; 
  background-size: contain; 
  /* top: 15px; */
}

.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% { opacity: 1; transform: translateX(0px) scale(1); }
  25% { opacity: 0; transform:translateX(30px) scale(0.8); }
  26% { opacity: 0; transform:translateX(-30px) scale(0.8); }
  55% { opacity: 1; transform: translateX(0px) scale(1); }
}

/* .bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
} */

.round .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* arrow bottom end */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 30px !important;
  padding-right: 38px !important;
  text-shadow: none;
  opacity: 1;
  transition: 0.3s;

}
.close:hover, .close:focus {
  color: rgb(255, 0, 0) !important;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  /* display: block; */
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  /* height: 150px; */
  font-size: 35px;
}

.img-modal {
  display: none;
  /* visibility: hidden; */
  position: fixed;
  z-index: 2000;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7); 
}

.img-modal-content {
  margin: auto;
  /* display: block; */
  width: 65%;
  /* max-width: 1100px; */
}

.img-modal-content, #caption,
.img-modal > .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.d-block {
  background-image: url('/static/pic/tempImg-c-1.png');
  min-height: 200px;
}

@-webkit-keyframes zoom {
  from { -webkit-transform: scale(0) } 
  to { -webkit-transform: scale(1) }
}
@keyframes zoom {
  from { transform: scale(0) } 
  to { transform: scale(1) }
}

.main-pic {
  transition: 0.2s ease;
  border: 3px solid #000;
  cursor: pointer;
  /* box-shadow: 0 0 40px; */
}
.main-pic:hover {
  transform: scale(1.3);
  border-color: #fff;
}

.img-close {
  position: fixed;
  top: 15px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.img-close:hover, .img-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* modal end */
/* tooltip start */

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted var(--main-grey); */
  opacity: 1;
}

.tooltip > .tooltiptext {
  display: none;
  font-size: 16px;
  width: 140px;
  background-color: var(--main-grey);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext.white {
  background-color: white;
  color: var(--main-grey);
}

/* tooltip end */

/* fade start */
.fade {
  opacity: 0;
  -webkit-transform: translateX(-150px);
     -moz-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
       -o-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
     -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
       -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
          transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.fade.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
/* fade end */
/* code background start */
.code.fun {
  color: #4c08ec; /* 4c08ec */
}
.code.var {
  color: #df1e1e;  /* FF5722 */
}
.code.brak {
  color: #26a69a;
}
.code.curly {
  color: #26d62f;
}
.code.param {
  color: #8087a7;
}
.code.semi {
  color: #ff22e2;
}
.code.num {
  color: #c72c21;
}
.code.angle {
  color: #d82dd8;
}
.code.string {
  color: #00ff00;
}
/* code background end */




