
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background-color: #3c3f42">
      <h3 style="color: #ffffff"><b>Home automation demo</b></h3>
      <span style="color: #aaaaaa">
        -This is a main page example of the website i developed to control devices in the home<br>
        -<i>Hover over items to see what they do.</i><br>
        -This page is made with HTML (obviously), css, JavaScript (inc jquery and AJAX) and also <a href="https://fezvrasta.github.io/bootstrap-material-design/" target="_blank" style="color: red">bootstrap material design</a> hosted on a bottle python backend webserver which is run on a raspberry Pi<br>
        -All the actions are carried out through asyncronous AJAX requests triggering the desired action in the python backend<br>
        -Two other pages are available through the navbar (just below this message), 'shopping list' and 'Text repeater'
      </span>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/" style="font-size: 30px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Fireicon07.svg/2000px-Fireicon07.svg.png" width="30" height="30" alt="" style="padding-bottom: 5px">
    <b>Heat Demo</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle about">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto flex-md-column flex-lg-row">
      <li class="nav-item">
        <a class="nav-link navWhite" href="/" style="font-size: 20px;">back to main site</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/heatDemo/backToLogin" style="font-size: 20px;">back to login</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/control" style="font-size: 20px;">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/shopping" style="font-size: 20px;">Shopping List</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link navWhite" href="heatDemo/whatsmyip" style="font-size: 20px;">Whats my IP</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/textrepeater" style="font-size: 20px;">Text Repeater</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link navWhite" href="heatDemo/ytdl" style="font-size: 20px;">YT download</a>
      </li> -->
      <button class="btn btn-lg otherbtn my-primary-w remMarginSm" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation" style="margin: auto 5px auto 20px; max-width: 200px;">about</button>
    </ul>
  </div>
</nav>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script>
    var _urlpath = $(location).attr('pathname').split('/').pop(); // Gets url path, splits it by the slashes
    $('nav li').each(function(){
      var _this = $(this);
      var _str = _this.find('a').attr('href').split('/').pop(); // then compares that with the href of the nav buttons
      if (_str == "/") _str = "";
      // _str !== _urlpath ? _this.removeClass('navActive') : _this.addClass('navActive');
      if (_str !== _urlpath) { // if they dont match it makes it look normal
        _this.children().removeClass('navActive')
        _this.children().addClass('navWhite')
      } else { // if they do match it makes the button appear active
        _this.children().removeClass('navWhite')
        _this.children().addClass('navActive')
      }
    });
</script>
