<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/" style="font-size: 30px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Fireicon07.svg/2000px-Fireicon07.svg.png" width="30" height="30" alt="" style="padding-bottom: 5px">
    <b>Heating Demo</b>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto flex-md-column flex-lg-row">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle about">
        <a> about </a>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="nav-link navWhite" href="/" style="font-size: 20px;">back to main site</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/heatDemo/backToLogin" style="font-size: 20px;">back to login</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/control" style="font-size: 20px;">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/shopping" style="font-size: 20px;">Shopping List</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link navWhite" href="heatDemo/whatsmyip" style="font-size: 20px;">Whats my IP</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link navWhite" href="/heatDemo/textrepeater" style="font-size: 20px;">Text Repeater</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link navWhite" href="heatDemo/ytdl" style="font-size: 20px;">YT download</a>
      </li> -->
    </ul>
  </div>
</nav>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script>
    var _urlpath = $(location).attr('pathname').split('/').pop(); // Gets url path, splits it by the slashes
    $('nav li').each(function(){
      var _this = $(this);
      var _str = _this.find('a').attr('href').split('/').pop(); // then compares that with the href of the nav buttons
      if (_str == "/") _str = "";
      // _str !== _urlpath ? _this.removeClass('navActive') : _this.addClass('navActive');
      if (_str !== _urlpath) { // if they dont match it makes it look normal
        _this.children().removeClass('navActive')
        _this.children().addClass('navWhite')
      } else { // if they do match it makes the button appear active
        _this.children().removeClass('navWhite')
        _this.children().addClass('navActive')
      }
    });
</script>
