
html,body {
  width: 100%;
  height: 100%;
}

body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

a {
  color: #000000;
  -webkit-transition: all .4s;
  transition: all .4s;
}
a:hover, a:focus {
  color: #ffffff;
}

/* .adapt-font[data-useragent*='Mac OS X'] {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
.adapt-font[data-useragent*='Mac OS X'] {

} */

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: 200;
  /* letter-spacing: 1px; */
  display: inline-block;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 150px 0;
}

section h2 {
  font-size: 50px;
}

.mainHead {
  font-weight: 700;
  font-size: 6rem;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: rgba(34, 34, 34, 0.75);
  -webkit-transition: all .35s;
  transition: all .35s;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #ffffff;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav, .navbar-brand:hover {
  color: #000000 !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #6f00ff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #000000;
}

header.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  /* padding-top: 150px; */
  /* padding-bottom: 100px; */
  color: white;
  background:  #7e3ad8;
  background:  -webkit-gradient(linear, right top, left top, from(#7e3ad8), to(#e40d1b));
  background:  linear-gradient(to left, #7e3ad8, #df1e2b); /* df1e2b ; 6f00ff, 7b4397 */
}

header.masthead .header-content {
  /* max-width: 500px; */
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

.bg-primary {
  background: #fff !important;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background: linear-gradient(#000000, #000000); */
}
.bg-secondary {
  background: #df1e2b !important;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#0000ff));
  background: linear-gradient(#ff0000, #0000ff); */
}
.bg-third {
  background: #7e3ad8 !important;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background: linear-gradient(#ffffff, #00ff00); */
}

.testPadding {
  padding: 600px 0px;
}

.mainSection {
  width: 100%;
  height: 100%;
}

.bolder {
  font-weight: 700 !important;
}

.mainNav {
  font-size: 15px !important;
}

.text-primary {
  color: #000000;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #000000;
  background-color: #000000;
}

.btn {
  border-radius: 300px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

@media (min-width: 998px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
  .showSmall {
    display: none;
  }
}
@media (max-width: 998px) {
  .hideSmall {
    display: none;
  }
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover {
    color: #ff0000;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: black;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.5);
    background-color: rgba(34, 34, 34, 0.75);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ffffff;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #ff0000 !important;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #ff0000 !important;
  }
  section.experience .device-container {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.about .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
  section.about h2 {
    font-size: 70px;
  }
}

.noHover{
  pointer-events: none;
}

/* hover main text */
#mainText {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 100px;
  line-height: 1em;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}
#mainText:hover {
  cursor: default;
}

#secText {
  margin-top: -25px;
  padding-left: 5px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 78px;
  line-height: 1em;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}
#secText:hover {
  cursor: default;
}
  
.wrapper {
  display: inline-block;
  /* top: -900px; */
  position: relative;
  height: 150px; /* default */
  width: 90px; /* default */
  transition: ease 0.3s all;
}
.wrapper:after {
  content:'';
  top:-10px; bottom:-10px; 
  left:-10px; right:-10px; 
}
  
span {
  position: absolute;
  top:0;
  right:0;
  transition: ease 0.3s all;
  background-clip: padding-box;
}
span.letter-2 {
  color: rgba(0, 0, 0, 1);
}
span.letter-1 {
  color: rgba(255, 255, 255, 1);
  z-index: 1;
} 
span.letter-1:hover {
  top: -8px;
  right: -8px;
}
span.letter-2:hover {
  top: 8px;
  right: 8px;
}
span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
} 
/* hover text end */

/* arrow bottom start */
.rot90 {
  -webkit-transform: rotate(90deg) 
}

.round {
  width: 20px;
  height: 20px;
}

#cta{
  cursor: pointer; 
  position: absolute;
  margin: auto;
}

.arrow {
  /* position: absolute;  */
  /* bottom: 0;   */
  /* margin-left: 0px;  */
  width: 20px; 
  height: 20px; 
  background-size: contain; 
  /* top: 15px; */
}

.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

/* .bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
} */

.round .arrow{
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.round .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* arrow bottom end */