
html { 
  height: 100%;
 }

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  align-items: center;
  height: 100%;
}

.container {
  padding: 6% calc(30% - 100px);
  /* padding: 20%; */
}

.big-box {
  padding: 15px 30px;
  margin: 20px auto;
  background-color: red;
  border: 5px;
  border-color: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}





.countContainer {
  /* width: 800px;
  height: 500px; */
  margin:  auto;
  text-align: center
}

.countContainer h2 {
  color: #fff;
  font-size: 30px;
  padding: 50px 0 20px;
  font-weight: normal
}

.countContainer .content {
  width: 100%;
}

.countContainer .content > div {
  display: inline-block;
  margin: 100px 10px 0;
  width: 120px;
  height: 150px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  line-height: 150px;
  font-size: 55px;
}

.countContainer .title {
  height: 50px;
  position: relative
}

.countContainer .title span {
  display: inline-block;
  width: 140px;
  font-size: 20px;
  color: #fff;
  line-height: 50px;

}