
html { 
  height: 100%;
 }

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  align-items: center;
  height: 100%;
}

.container {
  padding: calc(10% - 50px) calc(30% - 100px);
  /* padding: 20%; */
}

.big-box {
  padding: 15px 30px;
  margin: 20px auto;
  background-color: red;
  border: 5px;
  border-color: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}

.wallpaper {
  overflow: hidden;
}



.countContainer {
  /* width: 800px;
  height: 500px; */
  margin:  auto;
  text-align: center
}

.countContainer h2 {
  color: #fff;
  font-size: 30px;
  padding: 50px 0 20px;
  font-weight: normal
}

.countContainer .content {
  width: 100%;
}

.countContainer .content > div {
  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  width: 120px;
  height: 150px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  line-height: 150px;
  font-size: 55px;
}

.countContainer .title {
  height: 50px;
  position: relative
}

.countContainer .title span {
  display: inline-block;
  width: 140px;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
}





h1 {
  text-align:center;
  font-size: 60px;
  color:white;
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
  margin-bottom: 10px;
  margin-top: 100px;
}

#clockdiv {
  width: 1000px;
  width: 100%;
  top:50%;
  left:50%;
  font-size: 50px;
}
.inner {
  display:inline-block;
  border: 5px solid white;
  padding: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
  background: rgba(26, 26, 26, 0.26);
}
.inner .smalltext {
  font-size: 20px;
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}

.days {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.hours {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.minutes {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
.seconds {
  text-shadow: 4px 2px 3px rgba(0,0,0, 0.6);
}
