
html {
  background-color: rgb(18, 100, 18)
}

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  margin: 0;
  align-items: center;
}

#canvas{
  position: absolute;
  background:  linear-gradient(to bottom, rgb(23,82,145), rgb(105,173,212)); /* df1e2b ; 6f00ff, 7b4397 */
}

.container {
  padding: 10%
}

#big-box {
  padding: 15px 30px;
  background-color: red;
  border: 5px;
  border-color: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#little-box {
  font-size: 1.1rem;
}