// no longer used cos it dont work
// change bootstrap default colours
$primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;

@import "bootstrap";
