body {
    font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
    background-color: #996a30;
    color: #222222;
}

.wrapper {
    width: 300px;
    margin: 80px auto 0 auto;
    z-index: 1;
    position: relative;
}
#xmas {
    width: 300px;
}
.box {
    cursor: pointer;
}
footer {
    text-align: center;
    position: fixed;
    top: 0;
    left: 30px;
    right: 30px;
    font-size: 14px;
    opacity: 0.7;
    z-index: 999;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}