@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  /* overflow-x: hidden; */
}

html {
  background-color: rgb(12, 78, 14);
  /* background-image: url('/static/pic/wallpaper-clear-v2.png'); */
  /* background-size: 40% auto; */
  /* background-size: 610px 155px;
  background-repeat: repeat; */
  /* background-position: 0 20px; */
}

body {
  background-color: #00000000 !important;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h2 {
  /* font-family: "Dancing Script", serif; */
  font-weight: bold;
  font-size: 4rem;
  color: #b60003;
  text-align: center;
}

section {
  min-height: 100vh;
}

nav {
  background-color: rgba(41, 41, 41, 0.93); /* appears same as --grey with background */
  max-width: 220px;
}
.navbar-brand {
  color: var(--blue) !important;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  text-decoration: none;
}
.navbar-brand:hover {
  text-decoration: underline;
}

@media (min-width: 998px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

#wrapperWrap {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -16.5rem;
  left: 50%;
  margin-left: -14rem;
}

.wrap {
  width: 28rem;
  height: 33rem;
  margin: auto;
  position: relative;
  /* transform: rotateX(15deg); */
  /* transform: translateZ(50px); */
  transform-style: preserve-3d;
  transition-duration: 1s;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

#wrap.open {
  transform: translateX(14rem); /* 14rem */
  box-shadow: 20px 0 20px -10px rgba(0, 0, 0, 0.5), 0 20px 20px -10px rgba(0, 0, 0, 0.5),
    0 -20px 20px -10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1100px) {
  .wrap {
    height: 29rem;
    width: 23rem;
  }
  #wrapperWrap {
    margin-top: -14.5rem;
    margin-left: -11.5rem;
  }
  #cardFrontMessage {
    font-size: 3rem !important;
  }
  #cardMainMessage {
    font-size: 25px !important;
  }
  #wrap.open {
    transform: translateX(11.5rem);
  }
}

@media (max-width: 825px) {
  .wrap {
    height: 27rem;
    width: 18rem;
  }
  #wrapperWrap {
    margin-top: -13.5rem;
    margin-left: -9rem;
  }
  #cardFrontMessage {
    font-size: 2.5rem !important;
  }
  #cardMainMessage {
    font-size: 22px !important;
  }
  #wrap.open {
    transform: none;
  }
}

.card {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  border: 8px solid #b60003;
  text-align: center;
}
.card--front {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card--front.open {
  transform: rotateY(-179deg);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.card--front.back {
  z-index: 0;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.card--inner {
  overflow: hidden;
  padding: 15px;
}
.card--inner h2 {
  font-size: 32px;
}
.card--inner.open:before {
  transform: translateX(-115%); /* -155 */
  opacity: 0.1;
}
.card--inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  opacity: 1;
  transition: all 1s ease-in-out;
}

button {
  -webkit-appearance: none;
  background: #e53935;
  border: 5px solid #9f1815;
  border-width: 0 0 5px;
  padding: 10px 20px;
  width: 150px;
  text-align: center;
  display: block;
  transform: rotateX(30deg);
  margin-top: 20px;
  /* box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3); */
}
button:active {
  border-bottom-width: 2px;
  margin-top: 23px;
  outline: none;
}
button:focus {
  outline: none;
}
