html {
  background-color: #0079b6; /* 1784bb 3890bd b1def4 */
  /* background-image: url('/static/pic/wallpaper-clear-v2.png'); */
  /* background-size: 610px 155px; */
  /* background-repeat: repeat; */
  /* overflow: hidden; */
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  align-items: center;
  height: 100%;
}

/* body{margin:0;height:100%;} */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  padding: calc(10% - 50px) calc(30% - 80px) 5px;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

.big-box {
  padding: 20px 25px;
  margin: 20px auto;
  max-width: 700px;
  background-color: rgba(26, 26, 26, 0.7); /* rgba(26, 26, 26, 0.85); */
  backdrop-filter: blur(12px);
  color: white;
  /* border: 5px;
  border-color: rgba(26, 26, 26, 0.85); */
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  font-size: 1rem;
  text-align: center;
}
.clock-box {
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 550px) {
  #mainText {
    font-size: 4rem !important;
  }
}

#clockdiv {
  width: 1000px;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 50px;
}
.inner {
  display: inline-block;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 80px;
  height: 80px;
  color: rgb(26, 26, 26);
  background: rgba(255, 255, 255, 1);
}
.inner .smalltext {
  font-size: 20px;
}
